@{
    ViewData["Title"] = "Categorie";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
    ViewData["categoryActive"] = true;
}

<div class="container bg-light" id="menu">
    <div class="text-center pt-4 text-danger">
        <h1>Categorie</h1>
        <a href="@Url.Action("Create", "Category")">Aggiungi categoria</a>
        <h2>@ViewData["Message"]</h2>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="col-2">ID</th>
                <th scope="col" class="col-3">Nome</th>
                <th scope="col" class="col-3">Opzioni</th>
            </tr>
        </thead>
        <tbody>
            <div class="row d-flex flex-wrap">
                @for (int i = 0; i < Model.Length; i++)
                {
                <tr>
                    <th class="align-middle" scope="row">@Model[i].Id</th>
                    <td class="align-middle">@Model[i].Name</td>
                    <td class="align-middle">
                        <div class="d-flex">
                            <a class="btn btn-custom btn-secondary mx-1" href="/category/edit/@Model[i].Id">
                                <i class="fa-solid fa-pen"></i>
                            </a>
                            <a class="btn btn-custom btn-danger" href="/category/delete/@Model[i].Id">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>

                }
</div>
        </tbody>
    </table>
</div>