@{
    Layout = "_Layout";
    ViewData["Title"] = "Homepage";
}

<div class="container px-5 bg-light" id="menu">
    <div class="text-center pt-4 text-danger">
        <h1>Galleria</h1>
        <h2>@ViewData["Message"]</h2>
    </div>

    <p id="loader">...</p>


    <div>
        <div id="filter">
            <div class="form-field">
                <label>Filtra per nome:</label>
                <input id="search-input" placeholder="Nome" />
            </div>
        </div>

        <p class="mt-5" id="emptyMessage">Nessun elemento presente</p>

        <div id="table">
            <div id="photoList" class="row d-flex flex-wrap">
            </div>
        </div>
    </div>

    <form class="mt-5 w-50" id="message-create-form">
        <h3>Contattaci</h3>
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" id="email" placeholder="Scrivi la tua mail" />
            <span id="email-errors"></span>
        </div>
        <div class="form-field">
            <label for="text">Messaggio</label>
            <textarea class="form-control" id="text" placeholder="Scrivi il tuo messaggio"></textarea>
            <span id="text-errors"></span>
        </div>
        <button class="my-3 btn btn-warning" type="submit">Invia</button>
    </form>
</div>

@section Scripts
    {
    <script>
        loadPhotos();
        initFilter();
        initCreateForm();
    </script>
}